/* CSS declarations go here */
.title {
    text-transform: lowercase;
    font-family: monospace, monospace;
    font-size: 22pt;
    text-decoration: double;
}

.result {
    text-transform: uppercase;
    color: #ffaa44;
}

.bar-nav ~ .content {
    padding-top: 80pt;
}

.logo {
    height: 70pt;
}

.section {
    padding: 5px 0px 5px 0px;
}

.correct {
    color: #4499ee;
}

.incorrect {
    color: #ffaa44;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.justify {
    text-align: justify;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-collapse: collapse;
}

.centered-table td {
    padding: 2px;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.big-font {
    font-size: 20pt;
}

.question {
    color: #444;
}

.btn:hover {
    color: orange;
}

.cover {
    width: 80%;
    max-width: 200px;
    max-height: 200px;
}

.cover-image {
    width: 80%;
    height: auto;
}

.progress-bar {
    width: 60%;
    max-width: 150px;
    max-height: 150px;
}

.progressbar-text {
    font-size: 18pt;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}