.title {
    text-transform: lowercase;
    font-family: monospace, monospace;
    font-size: 22pt;
    text-decoration: double;
}

.result {
    text-transform: uppercase;
    color: #ffaa44;
}

.correct {
    color: #4499ee;
}

.incorrect {
    color: #ffaa44;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.justify {
    text-align: justify;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-collapse: collapse;
}

.centered-table td {
    padding: 2px;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.question {
    color: #444;
}

.result, .question {
    padding: 5px 0px 5px 0px;
}

.btn:hover {
    color: orange;
}

.cover {
    width: 70%;
    max-width: 300px;
    max-height: 300px;
}

.progress-bar {
    width: 50%;
    max-width: 150px;
    max-height: 150px;
}

.bar-nav ~ .content {
    padding-top: 50pt;
}

.big-font, .result {
    font-size: 18pt;
}

.progressbar-text {
    font-size: 18pt;
}

.logo {
    height: 50pt;
}

.section {
    padding: 15px 0px 15px 0px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.cover-image {
    width: 100%;
    height: auto;
}