/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 200px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 200px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 60%;
        max-width: 200px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 80pt;
    }

    .logo {
        height: 70pt;
    }
}

/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        height: 40%;
        max-height: 100px;
    }

    .progress-bar {
        height: 30%;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .logo {
        height: 40pt;
    }

    .bar-footer {
        display: none;
    }
}