/* ----------- Below 320px ----------- */

/* Portrait and Landscape */
@media only screen
and (max-device-width: 320px) {

}

/* Portrait */
@media only screen
and (max-device-width: 320px)
and (orientation: portrait) {
    div .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 20pt;
    }

    div .big-font, div .result {
        font-size: 12pt;
    }

    .progressbar-text {
        font-size: 12pt;
    }

    .logo {
        height: 20pt;
    }

    .section {
        padding: 5px 0px 5px 0px;
    }

    .result, .question {
        padding: 2px 0px 2px 0px;
    }
}

/* Landscape */
@media only screen
and (max-device-width: 320px)
and (orientation: landscape) {
    div .cover {
        width: 50%;
        max-width: 100px;
        max-height: 100px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 50px;
        max-height: 50px;
    }

    .bar-nav ~ .content {
        padding-top: 20pt;
    }

    div .big-font, div .result {
        font-size: 12pt;
    }

    .progressbar-text {
        font-size: 12pt;
    }

    .logo {
        height: 20pt;
    }

    .section {
        padding: 2px 0px 2px 0px;
    }

    .result, .question {
        padding: 2px 0px 2px 0px;
    }
}

/* ----------- iPhone 4, 4S, 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
    div .cover {
        width: 50%;
        max-width: 250px;
        max-height: 250px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 40pt;
    }

    div .big-font, div .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 15pt;
    }

    .logo {
        height: 40pt;
    }

    .section {
        padding: 10px 0px 10px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
    div .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 40pt;
    }

    div .big-font, div .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 15pt;
    }

    .logo {
        height: 40pt;
    }

    .section {
        padding: 5px 0px 5px 0px;
    }

    .result, .question {
        padding: 2px 0px 2px 0px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    div .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    div .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 20pt;
    }

    .progressbar-text {
        font-size: 20pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {
    div .cover {
        width: 50%;
        max-width: 180px;
        max-height: 180px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 5px 0px 5px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}


/* ----------- Most other smart phones ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 667px) {

}

/* Portrait */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 667px)
and (orientation: portrait) {
    div .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    div .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 20pt;
    }

    .progressbar-text {
        font-size: 20pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 360px)
and (max-device-width: 667px)
and (orientation: landscape) {
    div .cover {
        width: 50%;
        max-width: 180px;
        max-height: 180px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 5px 0px 5px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: portrait) {
    div .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    div .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 20pt;
    }

    .progressbar-text {
        font-size: 20pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation: landscape) {
    div .cover {
        width: 50%;
        max-width: 180px;
        max-height: 180px;
    }

    div .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    div .big-font, div .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 5px 0px 5px 0px;
    }

    .result, .question {
        padding: 5px 0px 5px 0px;
    }
}