/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 50%;
        max-width: 250px;
        max-height: 250px;
    }

    .progress-bar {
        width: 30%;
        max-width: 90px;
        max-height: 90px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 50%;
        max-width: 250px;
        max-height: 250px;
    }

    .progress-bar {
        width: 30%;
        max-width: 90px;
        max-height: 90px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 50%;
        max-width: 250px;
        max-height: 250px;
    }

    .progress-bar {
        width: 30%;
        max-width: 90px;
        max-height: 90px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 50%;
        max-width: 250px;
        max-height: 250px;
    }

    .progress-bar {
        width: 30%;
        max-width: 90px;
        max-height: 90px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 90px;
        max-height: 90px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Portrait */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Portrait */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    .cover {
        width: 70%;
        max-width: 300px;
        max-height: 300px;
    }

    .progress-bar {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .bar-nav ~ .content {
        padding-top: 50pt;
    }

    .big-font, .result {
        font-size: 18pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 50pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}

/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
    .cover {
        width: 50%;
        max-width: 150px;
        max-height: 150px;
    }

    .progress-bar {
        width: 30%;
        max-width: 60px;
        max-height: 60px;
    }

    .bar-nav ~ .content {
        padding-top: 30pt;
    }

    .big-font, .result {
        font-size: 15pt;
    }

    .progressbar-text {
        font-size: 18pt;
    }

    .logo {
        height: 30pt;
    }

    .section {
        padding: 15px 0px 15px 0px;
    }
}