<template name="content">
    <div class="content-padded center section">
        <table class="centered-table full">
            <tr>
                <td colspan="2">
                    <h3 class="question big-font">
                        {{challenge.question}}
                    </h3>
                </td>
            </tr>
            <tr>
                <td class="half">
                    <button disabled="{{waiting}}" class="btn full big-font" id="answerA">{{challenge.answers.answerA}}</button>
                </td>
                <td class="half">
                    <button disabled="{{wating}}" class="btn full big-font" id="answerB">{{challenge.answers.answerB}}</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-padded center section">
        <h4 class="result {{result}}">
            {{#if result}}
            {{result}}
            {{else}}
            <br>
            {{/if}}
        </h4>

        {{> progress}}
    </div>
</template>