<template name="control">
    <div class="content-padded center section">
        {{#if playing}}
        <button class="btn btn-positive btn-outlined big-font" id="pause"><span class="icon icon-pause"></span></button>
        <button class="btn btn-negative btn-outlined big-font" id="stop"><span class="icon icon-stop"></span></button>
        {{else}}
        <button class="btn btn-primary btn-outlined big-font" id="play"><span class="icon icon-play"></span></button>
        {{/if}}
    </div>
</template>