<template name="content">
    <div class="content-padded center section">
        <table class="centered-table full">
            <tr>
                <td colspan="2">
                    <div class="question">
                        <span class="big-font">{{challenge.question}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="half">
                    <a disabled="{{waiting}}" id="answerA">
                        <span class="btn btn-positive full big-font">{{challenge.answers.answerA}}</span>
                    </a>
                </td>
                <td class="half">
                    <a disabled="{{waiting}}" id="answerB">
                        <span class="btn btn-primary full big-font">{{challenge.answers.answerB}}</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class="content-padded center section">
        <span class="result {{result}}">
            {{#if result}}
            {{result}}
            {{else}}
            <br>
            {{/if}}
        </span>

        {{> progress}}
    </div>
</template>