<template name="control">
    <div class="content-padded center section">
        <h2>
            {{#if playing}}
            <button class="btn big-font btn-positive btn-outlined" id="pause"><span class="icon icon-pause"></span></button>
            <button class="btn big-font btn-negative btn-outlined" id="stop"><span class="icon icon-stop"></span></button>
            {{else}}
            <button class="btn big-font btn-primary btn-outlined" id="play"><span class="icon icon-play"></span></button>
            {{/if}}
        </h2>
    </div>
</template>