<template name="question">

    {{> header challenge }}

    <div class="content">
        {{#if playing}}
        {{> content }}
        {{else}}
        <div class="content-padded center section">
            <div class="cover center">
                <h3>
                    {{welcome}}
                </h3>
                <img src="/images/background.jpg" alt="{{welcome}}" title="{{welcome}}" class="cover-image"/>
            </div>
        </div>
        {{/if}}

        <div style="clear: both"></div>
        {{> control }}
    </div>

    {{> footer }}

</template>